<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <catalog>
            <recently_products>
                <disable_compare>0</disable_compare>
            </recently_products>
        </catalog>
    </default>
</config>